
:root {
  --evangadi-orange: #fe8402;
  --evangadi-dark: #3b455a;
  --bg-light: #f9f9f9;
  --border-light: #e5e5e5;
}

.dashboardContainer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px 10%;
  background-color: #fff;
  max-height: max-content;

}


.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.topSection a{
  text-decoration: none;
}

.askButton {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity 0.2s;
}

.askButton:hover {
  opacity: 0.9;
}

.welcomeText {
  font-size: 1.1rem;
  color: #333;
  font-size: 25px;
font-family:'Times New Roman', Times, serif;}

.questionItem {
  text-decoration: none;
}


.questionItem:link, 
.questionItem:visited {
  text-decoration: none;
}
.username {
  color: var(--evangadi-orange); 
  font-weight: 700;
  font-size: 25px;

}


.questionList {
  border-top: 1px solid var(--border-light);
}

.questionItem {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-light);
  transition: background-color 0.2s;
}

.questionItem:hover {
  background-color: #fafafa;
}
span{

}

.userAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  color: #312921;
}

.avatarCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.avatarIcon {
  font-size: 30px;
  color: var(--evangadi-dark);

}

.userId {
  font-size: 0.85rem;
  color: var(--evangadi-dark);
  font-weight: 500;
  text-decoration: none;
}


.questionContent {
  flex-grow: 1;
  padding-left: 40px;
  font-size: 1.1rem;
  color: #2c3e50;
  text-decoration: none;

}


.arrowIcon {
  color: var(--evangadi-dark);
  font-size: 1.5rem;
  cursor: pointer;
}